img
{
    width: 80px;
    height: auto;
}

body{
    background-image: url("images/fond.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Accueil
{
    color: gray;
    font-size: 30px;
    justify-content: flex-end;
}



.col-4{
    justify-content: flex-start;
}

.connexion{
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(238, 241, 245);
    width: 50%;
    padding-left: 5%;
}




/* Création */


legend{
    font-size : 14px;
    font-style: italic;
    color: grey;
    
}

input{
    border-radius: 10px;
}

.inscription{
    background-color: rgb(126, 183, 190);
    border-radius: 10px;
}