img
{
    width: 80px;
    height: auto;
}
/*taille des images*/

body{
    background-image: url("images/fond.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*image de fond*/

.Accueil
{
    color: gray;
    font-size: 30px;
}
//écritures au-dessus du cadre

.cadre{
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(238, 241, 245);
    width: 50%;
    padding-left: 5%;
}
/*faire le cadre*/

input{
    border-radius: 10px;
}
/*change les coins des blocs formulaire$*/

.inscription{
    background-color: rgb(126, 183, 190);
}

textarea{
    border-radius: 10px;
    box-shadow: 2px 2px 0px rgb(168, 168, 168);
}

.acces_modif{
    border: 1px gray solid;
    border-radius: 50px;
    color: gray;
    font-size: 24px;
    background-color: rgb(238, 241, 245);
    padding-left: 1%;
    padding-right: 1%;
}
/*pour les boutons d'accès aux autres pages (en bas des pages)
Création */


legend{
    font-size : 14px;
    font-style: italic;
    color: grey;
    
}


.contents a:hover {
    color:red;
    font-weight: bold;
}
